<header>
    <nav>
        <div class="logo">
            <img src="/assets/logo.png" alt="">
            <h1>Trafalgar</h1>
        </div>
        <div class ="menu_container">
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/about">Find a doctor</a></li>
                <li><a routerLink="/contact">Apps</a></li>
                <li><a routerLink="/contact">Testimonials</a></li>
                <li><a routerLink="/contact">About us</a></li>
              </ul>
        </div>
    </nav>
</header>