<div class="homepage">
    <div class="card">
      <div class="card-background">
        <div class="card-content">
          <h1>Bienvenue !</h1>
          <p>Nous allons ensemble planifier votre voyage de rêve.</p>
          <div class="buttons">
            <button mat-raised-button color="primary" routerLink="/voyages" routerLinkActive="active">Liste des Voyages</button>
            <button mat-raised-button color="accent" routerLink="/generer-voyage" routerLinkActive="active">Générer un Voyage</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  