section {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section-header {
    text-align: center;
    max-width: 700px; /* Largeur max du texte */
    margin: 0 auto; /* Centre l'élément */
    padding-bottom: 20px;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-header p {
    font-size: 1rem;
    color: #666;
    line-height: 1.6;
}

  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  