<!---<footer class="footer">
    <p>Shinsekai</p>
    <p id="copyright"></p>
    <script src="components/footer/footer.component.js"></script>
</footer>--->

<footer class="footer">
    <div class="footer-content">
      <div class="logo-section">
        <img routerLink="home" routerLinkActive="active" src="assets/shinsekai-logo.png" alt="Logo" class="logo">
      </div>
      <div class="links-section">
        <h4>Liens Rapides</h4>
        <ul>
          <li><a routerLink="/home"routerLinkActive="active">Accueil</a></li>
          <li><a routerLink="/voyages" routerLinkActive="active">Liste de Voyages</a></li>
          <li><a routerLink="/generer-voyage">Générer un Voyage</a></li>
          <li><a routerLink="/infos-legales">Informations Légales</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 Shinsekai. Tous droits réservés.</p>
    </div>
  </footer>