footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  margin: auto;
}

.brand {
  font-size: 20px;
  font-weight: bold;
  color: orange;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.footer-links ul {
  list-style: none;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
