<!--- <div class="container mt-5">
  <h1 class="fw-bold">Générer un Voyage Aléatoire</h1>
  <button (click)="genererVoyage()" class="btn btn-primary mb-3">Générer un Voyage</button>

  <div class="card p-3" [hidden]="!voyageAleatoire">  Utilisez [hidden] pour masquer l'élément 
    <h2>Détails du Voyage</h2>
    <p><strong>Destination:</strong> {{ voyageAleatoire?.destination }}</p>
    <p><strong>Description:</strong> {{ voyageAleatoire?.description }}</p>
    <p><strong>Prix:</strong> {{ voyageAleatoire?.prix }} €</p>
    <button (click)="validerAjout()" class="btn btn-success">Ajouter à la Liste</button>
  </div>
</div> -->

<div class="homepage">
  <div class="card">
    <div class="card-background">
      <div class="card-content">
        <h1>Générez un Voyage Aléatoire !</h1>
        <p>Nous allons ensemble générer votre voyage de rêve.</p>
        <div class="buttons">
          <button mat-raised-button color="primary" (click)="genererVoyage()" class="btn btn-primary mb-3">Générer un Voyage</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card p-3" [hidden]="!voyageAleatoire"> 
    <h2>Détails du Voyage</h2>
    <p><strong>Destination:</strong> {{ voyageAleatoire?.destination }}</p>
    <p><strong>Description:</strong> {{ voyageAleatoire?.description }}</p>
    <p><strong>Prix:</strong> {{ voyageAleatoire?.prix }} €</p>
    <button (click)="validerAjout()" class="btn btn-success">Ajouter à la Liste</button>
  </div>
</div>
