<!-- voyagepage.component.html -->
<div class="container">
  
  <div class="voyage-card">
    <div class="voyage-card-header">
      <h1>Découvrez {{destination}} !</h1>
      <p class="prix">À partir de {{prix}}€</p>
    </div>
    <div class="voyage-card-description">
      <p>{{description}}</p>
    </div>
    <div class="actions">
      <button (click)="openModal()" class="bluebutton">Supprimer</button>
      <button (click)="retour()" class="pinkbutton">Retour</button>
    </div>
  </div>
</div>

<div class="modal" [class.show]="isModalOpen" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer ce voyage ?</p>
    <div class="modal-actions">
      <button (click)="confirmSuprimmer()" class="bluebutton">Oui, supprimer</button>
      <button (click)="closeModal()" class="redbutton">Annuler</button>
    </div>
  </div>
</div>
