<div class="pizza-page" *ngIf="pizza">
  <h1 class="pizza-title">
    {{ pizza.name }}
  </h1>

  <div class="pizza-image-container">
    <img [src]="pizza.image" [alt]="pizza.name" class="pizza-image" />
  </div>

  <p class="pizza-description">{{ pizza?.description }}</p>

  <div class="pizza-ingredients">
    @for (ingredient of pizza.ingredients ?? []; track ingredient) {
      <span class="ingredient-badge">
        {{ ingredient }}
      </span>
    }
  </div>

  <div class="pizza-footer">
    <p class="pizza-price">{{ pizza.price }}</p>
    <button class="order-button" routerLink="/commander', pizza?.slug">Commander maintenant</button>
  </div>
</div>
