/* barre de nav logo a gauche et menu tout a droite */
body{
    background-color: rgb(16, 18, 25);
    color: white;
    font-family: "orbitron";
}

nav{
    border-bottom: 1px solid orange;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

.logo{
    font-size: 1em;
    color: orange;
    
}

.container{
    margin:5%;
    margin-top: 0;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



@media screen and (max-width: 1024px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}

@media screen and (max-width: 300px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
    
}



.card {
    background-color: #1a1c19;
    border-radius: 5px;
}

.card-desc {
    padding: 10px;
}

.planete {
    color: orange;
}

hr {
    border: 1px solid orange;
}

img {
    width: 100%;
}

.buttons{
    display:flex;
    gap: 10px;
    justify-content: center;
    margin: 10px;
    margin-top: 20px;
}



button{
    color: orange;
    border: 1px solid orange;
    font-size: large;
    background-color: transparent;
    padding: 1% 5%;

}

button a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

footer{
    border-top: 1px solid orange;
    border-bottom: 1px solid orange ;
}

footer ul {
    list-style: none;
}

footer ul li{
    margin-right: 20px;
}

footer ul li a{
    color: white;
    text-decoration: none;
}

.footer-grid{
    text-align: start;
}